* {
    margin: 0;
    padding: 0;
}

body {
    background-image:url(../img/1_-xlCG5r86ocNFhC5iE658A.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header , .main, footer, .back {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

header {
    padding: 30px;
    border-radius: 15px;
    background: rgba(8, 0, 0, 0.592);
    display: block;
}

header h1 {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    color: rgba(210, 105, 30, 0.816);
    border-radius: 10px;
    background: rgb(0, 0, 0);
    transition: 2s;
}

header h2 {
    color: rgb(122, 120, 115);
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
}

.main .intro {
    border-radius: 15px;
}

.main .intro article h2{
    color: blanchedalmond;
    margin: 10px;
    padding: 10px;
    font-family: verdana;
}

.main .intro article p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.main .intro article {
    padding: 20px;
    background: rgb(79, 78, 83);
    margin-bottom: 20px;
    color: rgb(177, 173, 167);
    border-radius: 15px;
}

.back a {
    background: rgba(0, 0, 0, 0.408);
    color: #636363 ;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid ;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.back a:hover {
    background: rgba(0, 0, 0, 0.857);
    color: rgba(248, 247, 246, 0.844);
    transition: 2s;
}


footer{
    background: #000;
    color: #fff;
    clear: both;
    padding: 10px 0px;
    text-align: center;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
