* {
    margin: 0;
    padding: 0;
}

body {
    background-image:url(../img/javascript-node-js-abstract-logo-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header , .main, footer, .back, .lista {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

header {
    padding: 30px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.204);
    display: block;
}

header h1 {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    color: rgba(210, 105, 30, 0.619);
    border-radius: 10px;
    background: rgb(0, 0, 0);
    transition: 1s;
}

.main{
    height: 7000px;
}
/*ERCICIO 1*/
section h2, p, h1 {
    color: rgb(196, 174, 174);
    font-size: 20px;
    font-family: sans-serif;
    display: block;
    background:rgba(0, 0, 0, 0.51);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

section .ejercicio {
    width: 50%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.347);
    color: rgba(226, 65, 6, 0.701);
    padding: 20px;
    margin: 20px;
    font-size: 25px;
    font-family: Verdana;
    text-align: center;
}

section input:hover {
    background: rgba(22, 17, 17, 0.463);
    cursor: pointer;
}

section .respuesta {
    margin: 20px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.483);
    color: rgb(241, 107, 4);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40%;
    border-radius: 10px;
    border: 1px solid white;
}

section button{
    width: 12%;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(16, 12, 131, 0.633);
    color: rgba(224, 208, 208, 0.884);
    padding: 20px;
    margin: 33px;
    font-size: 9px;
    font-family: verdana;
}

section button:hover {
    background: rgba(7, 6, 39, 0.993);
    cursor: pointer;
    color: seashell;
}

.ejemplo img {
    width: 40%;
    border: 3px solid white;
    margin: 20px;
    padding: 20px;
    background: black;
}

/*EJERCICIO 2*/
.lista ul{
    list-style: none;
    
}
.user input {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.435);
    color: white;
    font-size: 15px;
    font-family: verdana;
}
.lista ul  {
    padding: 10px;
    background: rgba(0, 0, 0, 0.497);
    color: white;
    font-size: 10px;
    font-family: Verdana;
    border-radius: 10px;
    text-align: justify;    
}

.back a {
    background: rgba(0, 0, 0, 0.408);
    color: #636363 ;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid ;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: #cccccc;
}

.back a:hover {
    background: rgba(0, 0, 0, 0.844);
    color: rgba(245, 242, 240, 0.837);
    transition: 2s;
}

footer{
    background: #000;
    color: #fff;
    clear: both;
    padding: 10px 0px;
    text-align: center;
    border-radius: 20px;
    font-size: 10px;
}

