* {
    margin: 0;
    padding: 0;
}

body {
    background-image:url(../img/javascript-node-js-abstract-logo-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header , .main ,nav ,footer {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

header {
    padding: 30px;
    border-radius: 15px;
    background: rgba(8, 0, 0, 0.252);
    display: block;
}

header h1 {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    color: rgba(210, 105, 30, 0.619);
    border-radius: 10px;
    background: rgb(0, 0, 0);
    transition: 2s;
}

header nav {
    width: 90%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.347);
    border-radius: 10px;
    transition: 0.5s;
}

header nav ul{
    list-style: none;
}

header nav ul li {
    float: right;
}

header nav ul li a {
    display: block;
    color: rgb(107, 103, 103);
    text-decoration: none;
    padding: 17px 80px;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 1s;
}

header nav ul li a:hover {
    background:#84888b ;
    border-radius: 15px;
    cursor: pointer;
    color: blanchedalmond;
    padding: 4px 68px;
    margin: 13px;
}

.main .intro {
    width: 68.5%;
    margin-right: 1.5%;
    float: left;
    border-radius: 15px;

}

.main .intro article h2{
    color: blanchedalmond;
    margin: 10px;
    padding: 10px;
    font-family: verdana;
}

.main .intro article p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

aside article h2, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main .intro article {
    padding: 20px;
    background: rgb(79, 78, 83);
    margin-bottom: 20px;
    color: rgb(177, 173, 167);
    border-radius: 15px;
}

aside {
    width: 30%;
    padding: 20px;
    background: #08040042;
    float: left;
    box-sizing: border-box;
    border-radius: 15px;
    color: blanchedalmond;
}

aside article h2 {
    color: blanchedalmond;
    margin: 10px;
    padding: 10px;
}

footer{
    background: #000;
    color: #fff;
    clear: both;
    padding: 10px 0px;
    text-align: center;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}