* {
    margin: 0;
    padding: 0;
}

body {
    background-image:url(../img/javascript-node-js-abstract-logo-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header , .main, nav, footer, .titulo, .back{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

header {
    padding: 30px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.204);
    display: block;
}

header h1 {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    color: rgba(210, 105, 30, 0.619);
    border-radius: 10px;
    background: rgb(0, 0, 0);
    transition: 1s;
}

.titulo h2 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(194, 128, 28);
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.408);
    border-radius: 20px;
} 

section .main .video , .video2, .video3, .video4  {
    padding: 30px;
    margin: 20px auto;
    border: 3px solid #636363;
    background: rgba(0, 0, 0, 0.408);
    border-radius: 20px;
}

.video iframe, .video2 iframe, .video3 iframe, .video4 iframe {
    margin-left: 180px;
    border-radius: 10px;
    border: 6px solid #cccc
}

.main p {
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    font-family: verdana;
    color: #f2f2f2;
}

section .main h2 {
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(223, 136, 23);
    background: rgba(0, 0, 0, 0.408);
    border-radius: 10px;
    border: 1px solid #636363;
    margin: 30px auto;
    padding: 20px;
}

.back a {
    background: rgba(0, 0, 0, 0.408);
    color: #636363 ;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid ;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.back a:hover {
    background: rgba(0, 0, 0, 0.857);
    color: rgba(248, 247, 246, 0.844);
    transition: 2s;
}

footer{
    background: #000;
    color: #fff;
    clear: both;
    padding: 10px 0px;
    text-align: center;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
